@model List<Eshopper.Models.EF.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<style>
    #titleadmin {
        margin-left: 1%;
        margin-bottom: 1%;
        font-family: sans-serif;
        color: #4e73df;
        font: bold;
    }
    #customers {
        font-size: 0.9em;
        font-family: sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-left: 1%;
       
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            /* background-color: #009879;*/
            background-color: #4e73df;
            color: white;
        }
</style>
</head>
<body>
    <div id="titleadmin">QUẢN LÝ SẢN PHẨM</div>

    <table id="customers">
        <tr>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Mô tả</th>
            <th>Giá khuyến mãi</th>
            <th>Ảnh</th>
            <th>Mã loại SP</th>
            <th>Mã khuyến mãi</th>
            @*<th style="width:5%"></th>*@
            <th style="width:80px"><img src="~/Assets/images/icons/add.png" style="margin-left:30%" /></th>
        </tr>
        @foreach (Eshopper.Models.EF.SanPham item in Model)
        {
            <tr>
                <td>@item.MaSP</td>
                <td>@item.TenSP</td>
                <td>@item.SoLuong</td>
                <td>@item.DonGia</td>
                <td>@item.MoTa</td>
                <td>@item.MaKM</td>
                <td href="@item.URLAnh"></td>
                <td>@item.MaLoaiSP</td>
                <td>@item.MaKM</td>
                <td >
                <img src="~/Assets/images/icons/edit.png" style="margin-left:12%; margin-right:10%"/>
                <img src="~/Assets/images/icons/delete.png" />
                </td>
                @*<td colspan="2"><img src="~/Assets/images/icons/delete.png" /></td>*@
            </tr>
        }
    </table>

    
