@using Eshopper.Models.EF;
@model PhieuXuat

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}


<link href="~/Areas/AssetAdmin/css/indexadmin.css" rel="stylesheet" type="text/css">
<div class="container-fluid " >
    <h2>Chi tiết phiếu xuất</h2>
    <p>
        <a href="@Url.Action("Index")" class="btn btn-outline-info">
            Quay lại danh sách
        </a>
    </p>
    <div>
        <hr />
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Tên người dùng
                    </th>

                    <td>
                        @Html.DisplayFor(model => model.NguoiDung.TenND)
                    </td>

                    <th>Ngày đặt
                    </th>

                    <td>
                        @if(Model.NgayDat != null)
                        {
                            <span>
                                @Model.NgayDat.Value.ToString("dd/MM/yyyy")
                            </span>
                        }
                    </td>
                    <th>Ngày ship
                    </th>

                    <td>
                        @if (Model.NgayShip != null)
                        {
                            <span>
                                @Model.NgayShip.Value.ToString("dd/MM/yyyy")
                            </span>
                        }
                    </td>
                </tr>
            </thead>
            @if (Model.CTPhieuXuats.Count() > 0)
            {
                foreach (var item in Model.CTPhieuXuats)
                {
                    <tbody>
                        <tr>
                            <th>
                                Tên sản phẩm
                            </th>
                            <td>
                                @item.SanPham.TenSP
                            </td>
                            <th>
                                Số lượng nhập
                            </th>
                            <td>
                                @item.SoLuong
                            </td>

                            <th>
                                Đơn giá nhập
                            </th>
                            <td>
                                @item.SanPham.DonGia.Value.ToString("#,##") VNĐ
                            </td>
                        </tr>
                    </tbody>

                }
            }
        </table>
    </div>
</div>

