@model IEnumerable<Eshopper.Models.EF.NguoiDung>

@{
    ViewBag.Title = "ListUser";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<link href="~/Areas/AssetAdmin/css/indexadmin.css" rel="stylesheet" type="text/css">

<div class="container-fluid" id="customers">
    <h2>Phân quyền người dùng</h2>


    <table class="table table-striped table-bordered">
        <tr>
            <th>STT@{int a = 0;}</th>
            <th>
                Tên người dùng
            </th>
            <th>
                Email
            </th>
            <th>
                Tên tài khoản
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            a++;

            <tr>

                <td>@a</td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenND)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <a class="btn btn-outline-info" href="@Url.Action("GetRoleForUser", new { maND = item.MaND})">
                        Phân quyền
                    </a>
                </td>
            </tr>
        }
    </table>
</div>
