@model Eshopper.Models.EF.NguoiDung

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<link href="~/Areas/AssetAdmin/css/indexadmin.css" rel="stylesheet" type="text/css">

<link href="~/Areas/AssetAdmin/css/crudadmin.css" rel="stylesheet" type="text/css">

<div id="titleadmin">XÓA SẢN PHẨM</div>
<div style="margin-left: 1%">Bạn có muốn xóa không?</div>
<div>
  
    <dl class="dl-horizontal" id="customers">
        <dt>Tên người dùng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenND)
        </dd>
        <dt>
            Tên loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiND.TenLoai)
        </dd>

        <dt>SDT
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>Giới tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>Tuổi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tuoi)
        </dd>

        <dt>Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>Username
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>




    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin: 1%">
            <input type="submit" value="Xóa" class="btn btn-default" style="width:8%" />

        </div>
        <div style="margin: 1%">
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
