@model IEnumerable<Eshopper.Models.EF.NguoiDung>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<link href="~/Areas/AssetAdmin/css/indexadmin.css" rel="stylesheet" type="text/css">



<div id="titleadmin">QUẢN LÝ NGƯỜI DÙNG</div>


<table class="table" id="customers">
    <tr>
        <th>STT</th>
        @{ int a = 0;}
        <th>
            Tên người dùng
        </th>
        <th>
            Loại người dùng
        </th>
        <th>
            SDT
        </th>
        <th>
            Giới tính
        </th>
        <th>
            Tuổi
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            UserName
        </th>
        <th>
            Email
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Pass)
            </th>*@


        <th style="width:80px">
                <a href="@Url.Action("Register", "Security")"><img src="~/Assets/images/icons/add.png" style="margin-left:35%" /></a>
            </th>
    </tr>

    @foreach (var item in Model)
    {
        a++;
        <tr>
            <td>@a</td>
            <td>
                @Html.DisplayFor(modelItem => item.TenND)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiND.TenLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tuoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Pass)
                </td>*@

            <td>
                @*<div>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MaND }) |
                    </div>*@

                @*@Html.ActionLink("Details", "Details", new { id = item.MaND }) |*@
                @*@Html.ActionLink("Xóa", "Delete", new { id = item.MaND.Replace(" ", string.Empty) })*@

                @*@Html.ActionLink("Xóa", "Delete", new { id = item.MaND.Replace(" ", string.Empty) })*@
                <a href="/Admin/NguoiDungs/Edit?id=@item.MaND">Sửa</a> |

                <a href="/Admin/NguoiDungs/Delete?id=@item.MaND">Xóa</a>

                @*<a href="@Url.Action("Edit", "NguoiDungs")">
                        <img src="~/Assets/images/icons/edit.png" style="margin-left:15%; margin-right:10%" />
                    </a>
                    <a href="@Url.Action("Delete", "LoaiSanPham")">
                        <img src="~/Assets/images/icons/delete.png" />
                    </a>*@
            </td>
        </tr>
    }

</table>
