@model Eshopper.Models.Dao.LoginModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
              
                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {
                    <div class="login-form">
                       <h2>Đăng nhập tài khoản của bạn bằng email và mật khẩu</h2>
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <fieldset>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @autofocus = "autofocus" })
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(model => model.Pass, new { @class = "form-control" })
                        </div>
                        <hr>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.RememberMe) Nhớ mật khẩu
                        </div>
                        <button type="submit" class="btn btn-lg btn-block">Đăng nhập</button>
                    </fieldset>
                    </div>
                }
            </div>
            <div class="col-sm-1">
                <h2 class="or">Hoặc</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    @using (Html.BeginForm("Create", "Login", FormMethod.Post))
                    {
                        <div class="login-form">
                            <h2>Tạo tài khoản mới</h2>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        <fieldset>
                            Nhập tên của bạn
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.TenND, new { @class = "form-control", @autofocus = "autofocus" })
                            </div>
                            Nhập username bạn muốn
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @autofocus = "autofocus" })
                            </div>
                            Nhập email của bạn
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @autofocus = "autofocus" })
                            </div>
                            Nhập mật khẩu bạn muốn
                            <div class="form-group">
                                @Html.PasswordFor(model => model.Pass, new { @class = "form-control" })
                            </div>
                            <hr>
                            <button type="submit" class="btn btn-lg btn-block">Đăng ký</button>
                        </fieldset>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section><!--/form
